.card {
  background-color: #000;
  height: 100vh;
  position: relative;
  animation: cardAnimation 0.5s 14s forwards;
}

.star1 {
  width: 32px;
  position: absolute;
  left: 32px;
  top: 64px;
  animation: starAnimation 2s infinite;
  animation-delay: 1s;
}

.star2 {
  width: 32px;
  position: absolute;
  right: 32px;
  top: 32px;
  animation: starAnimation 2s infinite;
  animation-delay: 2s;
}

.star3 {
  width: 32px;
  position: absolute;
  right: 32px;
  bottom: 80px;
  animation: starAnimation 2s infinite;
  animation-delay: 1.5s;
}

.star4 {
  width: 32px;
  position: absolute;
  left: 16px;
  bottom: 32px;
  animation: starAnimation 2s infinite;
  animation-delay: 0.5s;
}

@keyframes starAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.titleContent {
  padding: 0px 64px;
  margin: auto;
  position: relative;
}

.titleOne {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  opacity: 1;
  animation: titleOneAnimation1 0.5s 3s forwards;
}

.textHeaderOne {
  margin: 0;
  font-size: 24px;
  color: #fff;
  margin-bottom: 16px;
  opacity: 0;
  animation: textHeaderOneAnimation1 0.5s forwards;
}

@keyframes titleOneAnimation1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes textHeaderOneAnimation1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titleTwo {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  opacity: 0;
  animation: titleTwoAnimation1 0.5s 3.5s forwards, titleTwoAnimation2 0.5s 12s forwards;
}

.textHeaderTwo {
  margin: 0;
  font-size: 24px;
  color: #fff;
  margin-bottom: 16px;
  opacity: 0;
  animation: textHeaderTwoAnimation1 0.5s 3.5 forwards, textHeaderTwoAnimation2 0.5s 6.5s forwards;
}

.textDescriptionTwo {
  margin: 0;
  color: #fff;
  opacity: 0;
  transform: translateY(-50px);
  animation: textDescriptionTwoAnimation1 0.5s 7s forwards;
}


@keyframes titleTwoAnimation1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titleTwoAnimation2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes textHeaderTwoAnimation1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textHeaderTwoAnimation2 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-50px);
  }
}

@keyframes textDescriptionTwoAnimation1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titleThree {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: -500px;
  animation: titleThreeAnimation1 0.5s 12.5s ease-in-out forwards;
}

.resultContainer {
  position: absolute;
  left: -200px;
  top: -200px;
  border: 1px solid #fff;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.imageResult {
  width: 300px;
  margin-bottom: 16px;
}

.resultSmallContainer {
  position: absolute;
  z-index: 99;
  padding-left: 180px;
  left: 0;
  transform-origin: left center;
  display: flex;
  gap: 16px;
  justify-content: end;
  transform: translateY(-50%) rotate(180deg);
}

.smallContainer1 {
  animation: resultSmallContainerAnimation1 1s 13s ease-out forwards;
}

.smallContainer2 {
  animation: resultSmallContainerAnimation2 1s 14s ease-out forwards;
}

.smallContainer3 {
  animation: resultSmallContainerAnimation3 1s 15s ease-out forwards;
}

.smallContainer4 {
  animation: resultSmallContainerAnimation4 1s 16s ease-out forwards;
}

.smallContainer5 {
  animation: resultSmallContainerAnimation5 1s 17s ease-out forwards;
}

.imageResultSmall {
  width: 50px;
  transform: scale(1);
}

.textResult {
  color: #fff;
  opacity: 0;
  animation: textResultAnimation1 1s forwards;
}

.textHeaderThree {
  margin: 0;
  font-size: 24px;
  color: #fff;
  margin-bottom: 16px;
  opacity: 1;
  transform: scale(1.5);
  animation: textHeaderThreeAnimation1 1s 14s ease-out forwards;
}

.textDescriptionThree {
  margin: 0;
  color: #fff;
  opacity: 0;
  animation: textDescriptionOneAnimation1 0.5s 15s forwards;
}

@keyframes titleThreeAnimation1 {
  0% {
    left: -500px;
  }
  100% {
    left: 0px;
  }
}

@keyframes resultSmallContainerAnimation1 {
  0% {
    transform: translateY(-50%) rotate(180deg);
  }
  100% {
    transform: translateY(-50%) rotate(-60deg);
  }
}

@keyframes resultSmallContainerAnimation2 {
  0% {
    transform: translateY(-50%) rotate(180deg);
  }
  100% {
    transform: translateY(-50%) rotate(-30deg);
  }
}

@keyframes resultSmallContainerAnimation3 {
  0% {
    transform: translateY(-50%) rotate(180deg);
  }
  100% {
    transform: translateY(-50%) rotate(0deg);
  }
}

@keyframes resultSmallContainerAnimation4 {
  0% {
    transform: translateY(-50%) rotate(180deg);
  }
  100% {
    transform: translateY(-50%) rotate(30deg);
  }
}

@keyframes resultSmallContainerAnimation5 {
  0% {
    transform: translateY(-50%) rotate(180deg);
  }
  100% {
    transform: translateY(-50%) rotate(60deg);
  }
}

@keyframes textResultAnimation1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
